@model Person

<table class="table">
    <tr>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>@Model.IsMale</td>
    </tr>
</table>